<% include partials/header %>

<div class="container create-admin">
  <ul class="list-inline">
  <h1><p>CREATE A NEW POST IN :</p></h1>
          <li><h2><a href="/news/new">News</a></h2></li>
          <li><h2><a href="/blog/new">Blog</a></h2></li>
          <li><h2><a href="/review/new">Reviews</a></h2></li>
          <li><h2><a href="/revisited/new">Revisited</a></h2></li>
  </ul>
</div>

<div class="flex-grid">
  <% article.forEach(function(article,i) { %>
      <div class="boxes">
        <div class="img">
          <img src="/uploads/<%= article.image.src %>">
        </div>
        <div class="title">  
          <a href="/<%= article.postType %>/<%= article.nanoId %>/<%= article.titleURL %>"><h2><%= article.title %></h2></a>
          <p>By <a href="/author/<%= article.author %>" class="author"><%= article.author %></a> | <%= article.date %></p>
        </div>
      </div>
    <% }) %>  
</div>

<% include partials/footer %>