
<% include partials/header %>

<div id="blog-page" class="jumbotron">
        <a href="/blog" class="post-type">BLOG</a>
        <h1>BLOG</h1>
</div>

<div class="flex-grid">
  <% blog.forEach(function(blog,i) { %>
      <div class="boxes">
        <div class="img">
          <a href="/blog/<%= blog.nanoId %>/<%= blog.titleURL %>">
            <picture>
                <source srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                <img class="img-responsive" alt="<%= blog.image.alt %>" srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-355x170.jpg">
            </picture> 
          </a>
        </div>
        <div class="title">  
          <a href="/blog/<%= blog.nanoId %>/<%= blog.titleURL %>"><h2><%= blog.title %></h2></a>
          <p>By <a href="/author/<%= blog.author.username %>" class="author"><%= blog.author.username %></a> | <%= blog.date %></p>
        </div>
      </div>
    <% }) %>  
</div>

<% include partials/footer %>

