<% include partials/header.ejs %>

<div class="parent">
  <% latest.forEach(function(latest,i) { %>
    <% if ( i == 0 ) { %>
  <div class="col">
    <div class="img latest-colored">
            <a href="/<%= latest.postType %>/<%= latest.nanoId %>/<%= latest.titleURL %>">
              <picture>
                <source srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-355x170.jpg" media="(max-width: 480px)">
                <source srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-450x270.jpg" media="(max-width: 990px)">
                <img class="img-responsive" alt="<%= latest.image.alt %>" srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-450x540.jpg">
              </picture>
            </a>
            <a href="/<%= latest.postType %>" class="post-type"><%= latest.postType.toUpperCase(); %></a>
            <a href="/<%= latest.postType %>/<%= latest.nanoId %>/<%= latest.titleURL %>"><h2><%= latest.title %></h2></a>
        </div>
  </div>
  <div class="wrap">
    <% } if ( i > 0 && i < 5 ) { %>
    <div class="box">       
            <div class="img latest-colored">
                <a href="/<%= latest.postType %>/<%= latest.nanoId %>/<%= latest.titleURL %>">

                  <picture>
                      <source srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-355x170.jpg" media="(max-width: 360px)">
                        <source srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-450x270.jpg" media="(max-width: 640px)">
                      <source srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-355x170.jpg" media="(max-width: 768px)">
                      <img class="img-responsive" alt="<%= latest.image.alt %>" srcset="/uploads/<%= latest.image.src.substring(0, latest.image.src.length - 4); %>-sharp-450x270.jpg">
                  </picture>

                </a>
                <a href="/<%= latest.postType %>" class="post-type"><%= latest.postType.toUpperCase(); %></a>
                <a href="/<%= latest.postType %>/<%= latest.nanoId %>/<%= latest.titleURL %>"><h2><%= latest.title %></h2></a>
            </div> 
    </div>
    <% }}) %>
  </div>
</div>    

<div class="container blog">
  <h2><a class="post" href="/news">NEWS</a></h2>
</div>

<section class="container news blog">
    <div class="non-feat">
      <% news.forEach(function(news,i) { %>
      <div class="article">
          <div class="img">
             <a href="/news/<%= news.nanoId %>/<%= news.titleURL %>">
              <picture>
                <source srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                <img class="img-responsive" alt="<%= news.image.alt %>" srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-355x170.jpg">
              </picture>
            </a>
          </div>
          <div class="title">
            <a href="/news/<%= news.nanoId %>/<%= news.titleURL %>"><h2><%= news.title %></h2></a>
            <p>By <a href="/author/<%= news.author.username %>" class="author"><%= news.author.username %></a> | <%= news.date %></p>
          </div>
      </div> 
  <% }) %>
  </div> 
    <div class="feat">
    <% featuredNews.forEach(function(news,i) { %>
      <div class="featured-article">
        <div class="article">
            <div class="img">
              <a href="/news" class="post-type">NEWS | FEATURED %></a>
               <a href="/news/<%= news.nanoId %>/<%= news.titleURL %>">
                 <picture>
                    <source srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-450x270.jpg" media="(max-width: 640px)">
                    <source srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-800x200.jpg" media="(max-width: 990px)">
                    <img class="img-responsive" alt="<%= news.image.alt %>" srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-330x375.jpg">
                 </picture>
              </a>
              <a href="/news/<%= news.nanoId %>/<%= news.titleURL %>"><h2><%= news.title %></h2></a>
              <span class="featured-author" ><em>By <a class="author" href="/author/<%= news.author.username %>"><%= news.author.username %></a> | <%= news.date %></em></span>
            </div>
        </div>
        </div>
      <% }) %> 
    <!-- </div> -->
</section>

<div class="container blog">
  <h2><a class="post" href="/blog">BLOG</a></h2>
</div>

<div class="flex-grid">
  <% blog.forEach(function(blog,i) { %>
      <div class="boxes">
        <div class="img">
          <a href="/blog/<%= blog.nanoId %>/<%= blog.titleURL %>">
            <picture>
                <source srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                <img class="img-responsive" alt="<%= blog.image.alt %>" srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-355x170.jpg">
            </picture>      
          </a>
        </div>
        <div class="title">  
          <a href="/blog/<%= blog.nanoId %>/<%= blog.titleURL %>"><h2><%= blog.title %></h2></a>
          <p>By <a href="/author/<%= blog.author.username %>" class="author"><%= blog.author.username %></a> | <%= blog.date %></p>
        </div>
      </div>
    <% }) %>  
</div>

<div class="feat">
    <% featuredBlogs.forEach(function(blog,i) { %>
      <div class="featured-article">
        <div class="article">
            <div class="img">
              <a href="/blog" class="post-type">BLOG | FEATURED %></a>
              <a href="/blog/<%= blog.nanoId %>/<%= blog.titleURL %>">
                <picture>
                    <source srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-450x270.jpg" media="(max-width: 640px)">
                    <source srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-800x200.jpg" media="(max-width: 990px)">
                    <img class="img-responsive" alt="<%= blog.image.alt %>" srcset="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-1200x400.jpg">
                </picture>
              </a>
              <a href="/blog/<%= blog.nanoId %>/<%= blog.titleURL %>"><h2><%= blog.title %></h2></a>
              <span class="featured-author" >By <a href="/author/<%= blog.author.username %>"><%= blog.author.username %></a> on <%= blog.date %></span>
            </div>
      </div>
    <% }) %> 
</div>
</div>

<div class="container blog">
  <h2><a class="post" href="/review">REVIEWS</a></h2>
</div>

<div class="flex-grid">
  <% review.forEach(function(review,i) { %>
      <div class="boxes">
        <div class="img">
          <a href="/review/<%= review.nanoId %>/<%= review.titleURL %>">
            <picture>
                <source srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                <img class="img-responsive" alt="<%= review.image.alt %>" srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-355x170.jpg">
            </picture>   
          </a>
        </div>
        <div class="title">  
          <a href="/review/<%= review.nanoId %>/<%= review.titleURL %>"><h2><%= review.title %></h2></a>
          <p>By <a href="/author/<%= review.author.username %>" class="author"><%= review.author.username %></a> | <%= review.date %></p>
        </div>
      </div>
    <% }) %>  
</div>

<div class="feat">
    <% featuredReviews.forEach(function(review,i) { %>
      <div class="featured-article">
        <div class="article">
            <div class="img">
              <a href="/review" class="post-type">REVIEW | FEATURED %></a>
              <a href="/review/<%= review.nanoId %>/<%= review.titleURL %>">
                <picture>
                    <source srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-450x270.jpg" media="(max-width: 640px)">
                    <source srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-800x200.jpg" media="(max-width: 990px)">
                    <img class="img-responsive" alt="<%= review.image.alt %>" srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-1200x400.jpg">
                </picture>
              </a>
              <a href="/review/<%= review.nanoId %>/<%= review.titleURL %>"><h2><%= review.title %></h2></a>
              <span class="featured-author" >By <a href="/author/<%= review.author.username %>"><%= review.author.username %></a> on <%= review.date %></span>
            </div>
            </div>
      </div>
    <% }) %> 
</div>
</div>


<% include partials/footer.ejs %>