
<% include partials/header %>

<div id="news-page" class="jumbotron">
        <h1>NEWS</h1>
</div>

<div class="flex-grid">
  <% news.forEach(function(news,i) { %>
      <div class="boxes">
        <div class="img">
          <a href="/news/<%= news.nanoId %>/<%= news.titleURL %>">
            <picture>
                <source srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                <img class="img-responsive" alt="<%= news.image.alt %>" srcset="/uploads/<%= news.image.src.substring(0, news.image.src.length - 4); %>-sharp-355x170.jpg">
            </picture> 
          </a>
        </div>
        <div class="title">  
          <a href="/news/<%= news.nanoId %>/<%= news.titleURL %>"><h2><%= news.title %></h2></a>
          <p>By <a href="/author/<%= news.author.username %>" class="author"><%= news.author.username %></a> | <%= news.date %></p>
        </div>
      </div>
    <% }) %>  
</div>

<% include partials/footer %>

