
<% include partials/header %>

<div id="review-page" class="jumbotron">
        <a href="/review" class="post-type">REVIEW</a>
        <h1>REVIEW</h1>
</div>

<div class="flex-grid">
  <% review.forEach(function(review,i) { %>
      <div class="boxes">
        <div class="img">
          <a href="/review/<%= review.nanoId %>/<%= review.titleURL %>">
            <picture>
                <source srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                <img class="img-responsive" alt="<%= review.image.alt %>" srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-355x170.jpg">
            </picture> 
          </a>
        </div>
        <div class="title">  
          <a href="/review/<%= review.nanoId %>/<%= review.titleURL %>"><h2><%= review.title %></h2></a>
          <p>By <a href="/author/<%= review.author.username %>" class="author"><%= review.author.username %></a> | <%= review.date %></p>
        </div>
      </div>
    <% }) %>  
</div>

<% include partials/footer %>

