<% include partials/header %>


<!-- <div class="author-page">

        <div class="row">

            <div class="col-md-5">
                  <div class="author-img">
                        <img src="/images/<%= user.profilePic %>">
              </div>
            </div>

                <div class="col-md-6 author-name">
                  <h1><%= name %></h1>
                   <div class="author-info">
                     <p><%- user.bio %></p>
                   </div>
                </div>

        </div>

</div> -->

<div class="author-info">
    <div class="row">
      <div class="shape">
        <img src="/images/<%= user.profilePic %>">
      </div>
      <div class="author-details">
        <div class="author-name">
          <h3><%= name %></h3>
        </div>
        <div class="author-bio">
          <p><%- user.bio %></p>
        </div>
      </div>
    </div>  
  </div>

<div class="container blog-review-laptop">

        <a href="/review" class="post-detail trending">ALL ARTICLES</a>

      <div class="row">

        <% article.forEach(function(article,index) { %>


      <div class="col-md-4 col-sm-6 news-section">
              
        <div class="thumbnail">
          <div class="img">
            <!-- <a href="#" class="sub-category">TV</a> -->
          <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.titleURL %>"><img src="<%= article.image %>"></a>
          <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.titleURL %>"><h2><%= article.title %></h2></a>
          </div>  
        </div>

        <div class="caption">
          <!-- <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.title %>"><h3 style="color: #333333;"><%= article.title %></h3></a> -->
        </div>

        <span><em>By <a class="author" href="/author/<%= article.author.username %>"><%= article.author.username %></a> on <%= article.date %></em></span><br><br>



      </div>

      <% }) %>

      </div></div>


 <!-- <div class="container news-section-laptop-container blog-review-mobile">
 
        <% article.forEach(function(article,index) { %>

                <div class="row news-section-laptop">

                 <div class="thumbnail">
                              <div class="img">
                                <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.titleURL %>"><img src="<%= article.image %>"></a>
                              </div>
                         </div>

                         <div class="caption">
                                <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.titleURL %>"><h1><%= article.title %></h1></a>
                         </div>

                         <div class="relative" >
                                <span><a class="author" href="/author/<%= article.author %>"><%= article.author %></a> | <%= article.date %></span>             
                          </div>

        </div>

        <hr class="style7">


    <% }) %>

</div> -->

<div class="container-more container" id="more-section-mobile"> <!-- Before 18/11, this div had a class "container-more"... -->

                    <!--MOBILE VERSION-->

        <% article.forEach(function(article,index) { %>

         <div class="row blog-section-laptop">
         <div class="thumbnail">
                      <div class="img">
                        <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.titleURL %>"><img src="<%= article.image %>"></a>
                      </div>
                 </div>

                    <div class="caption">
                        <a href="/<%= article.postType %>/<%= article.referenceId %>/<%= article.titleURL %>"><h1><%= article.title %></h1></a>
                    </div>

                    <div class="relative" style="font-size: 14px;margin-top: 10px;">
                        <span class="author-date"> <!-- <a class="author" href="/author/<%= article.author %>"><%= article.author %></a> | --> <%= article.date %></span>
                            <!-- <p>One Punch Man Season 3starts in 2018, the production is in full gear. Watch out!</p> -->
                        </div>

        </div>

        <hr class="style7">

     <% }) %>

<% include partials/footer %>