<% include partials/header %>

<div class="author-content">
  <div class="author-profile">
    <div class="row">
      <div class="shape">
        <img src="/uploads/<%= user.profilePic %>">
      </div>
      <div class="author-details">
        <div class="author-name">
          <h3><%= name %></h3>
        </div>
        <div class="author-bio">
          <p><%- user.bio %></p>
        </div>
      </div>
    </div>  
 </div>
 <div class="flex-grid">
  <% article.forEach(function(blog,i) { %>
      <div class="boxes">
        <div class="img">
          <a href="/<%= blog.postType %>/<%= blog.nanoId %>/<%= blog.titleURL %>"><img class="img-responsive" alt="<%= blog.image.alt %>" src="/uploads/<%= blog.image.src.substring(0, blog.image.src.length - 4); %>-sharp-355x170.<%= blog.image.src.slice(-3); %>"></a>
        </div>
        <div class="title">  
          <a href="/<%= blog.postType %>/<%= blog.nanoId %>/<%= blog.titleURL %>"><h2><%= blog.title %></h2></a>
          <p>By <a href="/author/<%= blog.author %>" class="author"><%= blog.author %></a> | <%= blog.date %></p>
        </div>
      </div>
    <% }) %>  
</div> 
</div> 


<% include partials/footer %>
