<% include partials/header %>

<div class="show-page">

  <div class="blog-content">

      <a href="/review" class="post-type-blog">REVIEW</a>
      <h1 id="main-blog-title"><%= review.title %></h1>

      <h2 class="blog-intro"><em><%= review.intro %></em></h2>

      <span class="blog-author"><p>By <a href="/author/<%= review.author.username %>" class="author"><%= review.author.username %></a> | <%= review.date %></p></span><br>

      <div id="main-blog-img">

          <picture>
            <source srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-450x270.jpg" media="(max-width: 640px)">
            <source srcset="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-810x210.jpg" media="(max-width: 990px)">
            <img src="/uploads/<%= review.image.src.substring(0, review.image.src.length - 4); %>-sharp-800x600.<%= review.image.src.slice(-3); %>" alt="image description">
          </picture>

      </div>

      <div class="social-share">
          <a id="fb-share" href="http://www.facebook.com/share.php?text=<%= review.title %> & u=<%= fullUrl %>" target="_blank"><i class="fa fa-facebook"></i>SHARE</a>
          <a id="twitter-share" href="https://twitter.com/share?url=<%= fullUrl %>&text=<%= review.title %>" target="_blank" title="Share on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i>TWEET</a></a>
          <a id="reddit-share" href="https://reddit.com/submit?title=<%= review.title %>&url=<%= fullUrl %>"><i class="fa fa-reddit-alien"></i>SHARE</a>
      </div>

      <div id="main-blog-content"><%- review.body %></div>

      <div class="fb-comments" data-href="https://otakuport.com" data-width="100%" data-numposts="100"></div>

      <% if( currentUser && ( currentUser.username == "Eknoorpreet Singh" || currentUser.username == review.author.username) ) { %>

                        <a class="ui green button" href="/review/<%= review.nanoId %>/<%= review.titleURL %>/edit" style="margin-left : 180px;width: 200px;">Edit</a>

                        <form action="/review/<%= review.nanoId %>/<%= review.titleURL %>?_method=DELETE" method="POST">

                                <button class="ui red button" style="margin-left :10px;width: 200px;">Delete</button>

                        </form>

      <% } %>

      <h2 class="post more">MORE FROM OTAKUPORT</h2>
      <div class="flex-grid">
        <% more.forEach(function(more,i) { %>
        <div class="boxes">
          <div class="img">
            <a href="/blog/<%= more.nanoId %>/<%= more.titleURL %>">
              <picture>
                  <source srcset="/uploads/<%= more.image.src.substring(0, more.image.src.length - 4); %>-sharp-110x80.jpg" media="(max-width: 480px)">
                  <img class="img-responsive" alt="<%= more.image.alt %>" srcset="/uploads/<%= more.image.src.substring(0, more.image.src.length - 4); %>-sharp-355x170.jpg">
              </picture>     
            </a>
          </div>
          <div class="title">  
            <a href="/blog/<%= more.nanoId %>/<%= more.titleURL %>"><h2><%= more.title %></h2></a>
            <p>By <a href="/author/<%= more.author.username %>" class="author"><%= more.author.username %></a> | <%= more.date %></p>
          </div>
        </div>
        <% }) %>  
      </div>


  </div>

  <div class="trending-side">
    <div class="trending">
      <h2 href="/news" class="post">TRENDING</h2>
      <% trending.forEach(function(trending,i) { %>
      <div class="article">
        <div class="img">
          <a href="/news/<%= trending.nanoId %>/<%= trending.titleURL %>"><img class="img-responsive" alt="<%= trending.image.alt %>" src="/uploads/<%= trending.image.src.substring(0, trending.image.src.length - 4); %>-sharp-355x170.<%= trending.image.src.slice(-3); %>"></a>
        </div>
        <div class="title">
          <a href="/news/<%= trending.nanoId %>/<%= trending.titleURL %>"><h3><%= trending.title %></h3></a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

</div>

<% include partials/footer %>

